<h1 mat-dialog-title>Add New Student</h1>
	<form #addNewStudentForm="ngForm" (ngSubmit)="onSubmit(addNewStudentForm)" novalidate>
 <div mat-dialog-content>

	
	   <mat-form-field>
	    <input [ngModel]="student.member_id" name="member_id" matInput placeholder="Member ID" [formControl]="studentMemberIDFormControl"
	           [errorStateMatcher]="matcher" required>
	    <mat-error *ngIf="studentMemberIDFormControl.hasError('required')">
	      Member ID is <strong>required</strong>
	    </mat-error>
	  </mat-form-field>

	  <mat-form-field>
	    <input [ngModel]="student.student_name" name="student_name" matInput placeholder="Name" [formControl]="studentNameFormControl"
	           [errorStateMatcher]="matcher" required>
	    <mat-error *ngIf="studentNameFormControl.hasError('required')">
	      Name is <strong>required</strong>
	    </mat-error>
	  </mat-form-field>

	  <mat-form-field>
	    <input [ngModel]="student.student_class" name="student_class" matInput placeholder="Class" [formControl]="studentClassFormControl"
	           [errorStateMatcher]="matcher" required>
	    <mat-error *ngIf="studentClassFormControl.hasError('required')">
	      Class is <strong>required</strong>
	    </mat-error>
	  </mat-form-field>

	  <mat-form-field>
	    <input [ngModel]="student.student_rollno" name="student_rollno" matInput placeholder="Roll No" [formControl]="studentRollNoFormControl"
	           [errorStateMatcher]="matcher" required>
	    <mat-error *ngIf="studentRollNoFormControl.hasError('required')">
	      Roll No is <strong>required</strong>
	    </mat-error>
	  </mat-form-field>
	

</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onCancel()">Cancel</button>
  <!-- <button mat-button (click)="onSubmit(addNewStudentForm)" [disabled]="!addNewStudentForm.valid">Add</button> -->
  <button mat-button type="submit" [disabled]="false">Add</button>
</div></form>