.student-container {
  display: flex;
  flex-direction: column;

}

.mat-table {
  overflow: auto;
}


.student-header {
	padding: 20px 20px 20px 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}