<div class="student-container">

	<div class="student-header">
		<div class="error-header">
      <button mat-raised-button color="accent" (click)="addNewStudent()">ADD NEW STUDENT</button>
      <!-- <mat-progress-spinner *ngIf="true"
        class="error-header-spinner"
        [color]="'primary'"
        [mode]="'indeterminate'" [diameter]="20">
      </mat-progress-spinner> -->
      <!-- <p class="error-message-header">
        <span [(hidden)]="studentAlreadyExistsError">Oops, Looks like A student with same <strong>MEMBER ID</strong> Already exists. Please create again with different and unique <strong>MEMBER ID</strong></span>
      </p> -->

    </div>
	    <mat-form-field>
	      <mat-icon matPrefix style="font-size:16px;height: 16px;width: 16px;">search</mat-icon><input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
	    </mat-form-field>

    </div>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.id}} </mat-cell>
    </ng-container>

	   <ng-container matColumnDef="member_id">
      <mat-header-cell *matHeaderCellDef> Member ID </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.member_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="student_name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.student_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="student_class">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.student_class}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="student_rollno">
      <mat-header-cell *matHeaderCellDef> Roll no </mat-header-cell>
      <mat-cell *matCellDef="let student"> {{student.student_rollno}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit_delete">
      	<mat-header-cell *matHeaderCellDef> Edit / Delete </mat-header-cell>
      	<mat-cell *matCellDef="let student">
       		<button mat-icon-button color="accent">
    			<mat-icon>mode_edit</mat-icon>
  			</button>/<button mat-icon-button color="accent" (click)="deleteStudents(student)">
    			<mat-icon>delete_forever</mat-icon>
  			</button>
   		</mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [showFirstLastButtons]="true"></mat-paginator>
</div>